<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>About the Project</h1>
    <p>
      This project helps in identifying plant diseases from uploaded images.
    </p>
    <a href="/">Back to Home</a>
  </body>
</html>

<!-- <main>
      <h1>Upload Plant Image for Disease Recognition</h1>
      <form method="POST" enctype="multipart/form-data">
        <input
          type="file"
          name="image"
          accept="image/*"
          required
          placeholder="image"
          id="imageInput"
        />
        <button type="submit">Predict</button>
      </form>
      <img id="imagePreview" src="" alt="Image Preview" />
      <a href="/">Back to Home</a>
    </main>
    <script>
      document
        .getElementById("imageInput")
        .addEventListener("change", function (event) {
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              const preview = document.getElementById("imagePreview");
              preview.src = e.target.result;
              preview.style.display = "block";
            };
            reader.readAsDataURL(file);
          }
        });
    </script> -->
